.welcome {
    margin-top: 5vh;

    .top {
        display: flex;
        .left {
            flex: 1;
            margin-left: 7vw;
        }

        .right {
            flex: 2;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            .righttop {
                display: flex;
                justify-content: center;

                .content {
                    font-weight: 600;
                    width: 50vw;
                    text-align: center;
                }
            }

            .rightbottom {
                display: flex;
                margin-top: 4vh;
                gap: 5vw;

                .sUp {
                    .signUp {
                        padding: 10px 20px;
                        border: none;
                        border-radius: 7px;
                        font-family: "poppins";
                        color: white;
                        background-color: #14BBCC;
                    }
                }

                .sIn {
                    .signIn {
                        padding: 10px 20px;
                        border: none;
                        border-radius: 7px;
                        font-family: "poppins";
                        color: white;
                        background-color: #14BBCC;
                    }
                }
            }
        }
    }
    .cards{
        display: flex;
        flex-wrap: wrap;
        gap: 5vw;
        margin: 18vh 5vw 10vh 7vw;
        .card{
            width: 40vw;
            height: 45vh;
            background-color: #3499A3;
            text-align: center;
            border-radius: 10px;
            img{
                margin-top: 5vh;
            }
            .title{
                font-weight: 600;
                font-size: 20px;
                color: white;
            }
            .bod{
                color: white;
                margin-left: 3vw;
                margin-right: 3vw;
            }
        }
    }
}